
body {
  font-family: "poppins", sans-serif;
}

/* Navbar Style */

#navbar {
  position:fixed;
    top: 0; 
    left: 0;  

}

.navbar-brand {
  font-weight: 500;
  font-size: 20px;
}

.nav-link {
  font-size: 16px;
}
.nav-link.active {
  font-weight: 400;
}

/* Hero */
#Hero{
  background-image:url("/asset/img/Hero1.png");
  background-repeat: no-repeat;
    background-size: cover;
  height: 100vh;
  width: 100%;
}

.background-image {
height: 10%;
width: 10%;
}


.hero-tagline h1 {
  color: #114232;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
}

.hero-tagline p{
  font-size: 20px;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 30px;
  line-height: 30px;
}

.button-lg-primary {
width: 237px;
height: 40px;
background-color: #87A922;
color: rgb(255, 255, 255);
border: none;
font-size: 15px;
font-weight: bold;
}

#Sekilas{
  background-color: #87A922;
}

h1{
  color:#114232
}

h2{
  color:#87A922;
}

/* -------------- About -------------------------------- */

#about{
  background-color: #fff9df;
}

/* -------------- End About ------------------------------ */



/* --------------- Contarct ------------------------------ */
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #87A922;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #ffffff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email] {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Kritik{
color: #87A922;
}


/*------------ Layanan ---------------------------- */
#layanan {
  padding: 100px 0;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  color: var(--pr-color);

}

.sub-title {
  font-size: 18px;
  color: black;
}

.card-layanan {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  transition: all .2s ease-in;

}

.circle-ico {
  width: 70px;
  height: 70px;
  background-color: aqua;
  border-radius: 50%;

  transition: all .1s ease-in;
}

.card-layanan h3 {
  color: aqua;
  font-size: 24px;

  transition: all .2s ease-in;
}

.card-layanan p {
  color: rgb(0, 0, 0);
  font-size: 14px;

  transition: all .3s ease-in;
}

/*----------------------- hover ------------------*/

.card-layanan:hover {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: linear-gradient(160deg, var(--pr-color), #000);
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.08);
  transition: all .1s ease-in;

}
.card-layanan:hover .circle-ico {
  /* background-color: white;   */
  transition: all .1s ease-in;        
}

.circle-ico:hover {
  width: 70px;
  height: 70px;
  /* background-color: white; */
  border-radius: 50%;

  transition: all .1s ease-in;
}

.card-layanan:hover h3 {
  /* color: white; */
  font-size: 24px;

  transition: all .1s ease-in;
}

.card-layanan:hover p {
  /* color: white; */
  font-size: 14px;

  transition: all .1s ease-in;
}

/*------------------------ Visi Misi --------------------------*/
.visi {
  display: flex;
}

.misi {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.misi h2 {
  color:  #87A922;
  font-size: 30px;
  margin-bottom: 10px;
}

.misi ul {
  list-style-type: none;
  padding: 0;
}

.misi ul li {
  margin-bottom: 10px;
}

/* Member */
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #012970;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

.social-menu {
  position: fixed;
  bottom: 0;
  /* width: 100%; 
  background-color: #fff; 
  padding: 10px; 
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); */
}
