body {
  font-family: "poppins", sans-serif;
}

/* Navbar Style */
#Navbar {
  background-color: aqua;
}

.navbar-brand {
  font-weight: 500;
  font-size: 20px;
}

.nav-link {
  font-size: 16px;
}
.nav-link.active {
  font-weight: 400;
}

/* Hero */
#Hero{
  background-image:url("/asset/img/Hero1.png");
  background-repeat: no-repeat;
    background-size: cover;
  height: 100vh;
  width: 100%;
}

.background-image {
height: 10%;
width: 10%;
}


.hero-tagline h1 {
  color: #fff;
  font-weight: 60px;
  font-size: 42px;
  line-height: 50px;
}

.hero-tagline p{
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 30px;
}

.button-lg-primary {
width: 237px;
height: 50px;
background-color: #fff;
color: aqua;
border: none;
font-size: 15px;
font-weight: bold;
}